__pycache__
.vs
.vscode
.eslintrc
*.pyc
*.tsv
*.model
nvivo
*.csv
*.docx
!reorder_exit_codes.csv
!reorder_exit.docx
embeddings.pickle
classification.txt
/models
/embeddings/*
static/js/old_tablejs_file.js
cm_data.json
/build
/dist
setup.py
/env
logs/app.log
/venv
/build
/dist
*.spec
.DS_Store
