__pycache__
.vs
.vscode
.eslintrc
*.pyc
*.tsv
*.model
nvivo
reorder_exit_analyse.csv
reorder_exit_analyse_1.csv
reorder_exit_train_analyse.csv
reorder_exit_train_analyse_1.csv
reorder_exit_predict_analyse.csv
reorder_exit_predict_analyse_1.csv
reorder_exit_frequencies.csv
reorder_exit_predict.csv
reorder_exit_train.csv
reorder_exit_nvivo_train.csv
reorder_exit_train_1.csv
reorder_exit_predict_1.csv
reorder_exit_predict_keywords.csv
reorder_exit_predict_keywords_1.csv
reorder_exit_train_keywords.csv
reorder_exit_train_keywords_1.csv
reorder_exit_oversampled.csv
embeddings.pickle
/logs
classification.txt
/models
/embeddings
analysis_stopwords.txt
extra_stopwords.txt
static/js/old_tablejs_file.js
cm_data.json