# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
altgraph=0.17.2=pyhd8ed1ab_1
beautifulsoup4=4.10.0=pypi_0
bzip2=1.0.8=h1de35cc_0
ca-certificates=2021.10.8=h033912b_0
certifi=2021.10.8=py38h50d1736_2
click=8.1.2=pypi_0
cycler=0.11.0=pypi_0
docx=0.2.4=pypi_0
gensim=3.8.3=pypi_0
gmp=6.2.1=h2e338ed_0
joblib=1.1.0=pypi_0
kiwisolver=1.4.2=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
lxml=4.8.0=pypi_0
macholib=1.16=pyhd8ed1ab_0
matplotlib=3.3.3=pypi_0
ncurses=6.3=hca72f7f_2
nltk=3.5=pypi_0
numpy=1.19.5=pypi_0
openssl=1.1.1n=h6c3fc93_0
pandas=1.1.5=pypi_0
pillow=9.1.0=pypi_0
pip=21.2.4=py38hecd8cb5_0
py-cpuinfo=8.0.0=pypi_0
pycryptodome=3.14.1=py38h5fe443b_1
pyinstaller=4.8=py38h3fd3227_0
pyinstaller-hooks-contrib=2022.4=pyhd8ed1ab_0
pyparsing=3.0.8=pypi_0
pyside2=5.15.2=pypi_0
python=3.8.10=h88f2d9e_7
python-dateutil=2.8.2=pypi_0
python-docx=0.8.11=pypi_0
python_abi=3.8=2_cp38
pytz=2022.1=pypi_0
readline=8.1.2=hca72f7f_1
regex=2022.4.24=pypi_0
scikit-learn=0.24.2=pypi_0
scikit-multilearn=0.2.0=pypi_0
scipy=1.5.4=pypi_0
setuptools=61.2.0=py38hecd8cb5_0
shiboken2=5.15.2=pypi_0
six=1.16.0=pypi_0
smart-open=6.0.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.2=h707629a_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.11=h7bc2e8c_0
tqdm=4.64.0=pypi_0
tzdata=2022a=hda174b7_0
wheel=0.37.1=pyhd3eb1b0_0
xgboost=1.6.0=pypi_0
xz=5.2.5=h1de35cc_0
zlib=1.2.12=h4dc903c_2
