<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="../static/js/lib/d3.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/res/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/res/style.css"/>
  </head>
  <body>
    <img id="loading-gif" src="../static/res/loading.gif">
    <div class="row">
      <div class="col-9">
        <div id="text-box"></div>
      </div>
      <div class="col-3">
        <div id="comments-box"></div>
      </div>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
