<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Keywords</title>
    <script src="../static/js/lib/d3.js"></script>
    <script src="../static/js/lib/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/res/style.css"/>
  </head>
  <body class="words">
    <button id="re-classify-button" type="button" disabled>Re-classify</button>
    <h1 id="table-title">Keywords</h1>
    <div id="bin-div">
      <h1 id="bin-title">Bin</h1>
      <p>Drag here to remove theme</p>
    </div>
    <img id="loading-gif" src="../static/res/loading.gif">
    <p id="loading-text">Loading table...</p>
    <script type="module" src="../static/js/keywords.js"></script>
  </body>
</html>
