<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Keywords</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v2.min.js"></script>
    <script src="https://d3js.org/d3-selection.v2.min.js"></script>
    <script src="https://d3js.org/d3-drag.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
  </head>
  <body class="words">
    <h1 id="table-title">Keywords</h1>
    <img id="loading-gif" src="../static/loading.gif">
    <script type= "module" src="../static/keywords.js"></script>
  </body>
</html>
