<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/lib/qwebchannel.js"></script>
    <script type="text/javascript" src="../static/js/lib/d3.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/import.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/text.js"></script>
    <script type="text/javascript" src="../static/js/codes.js"></script>
    <script type="text/javascript" src="../static/js/all_table.js"></script>
    <script type="text/javascript" src="../static/js/predict_table.js"></script>
    <script type="text/javascript" src="../static/js/train_table.js"></script>
    <script type="text/javascript" src="../static/js/confusion_tables.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/res/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/res/style.css"/>
    <title>Thematic Analysis Tool</title>
  </head>
  <body>
    <div class="navbar-top">
      <a id="text-button" class="btn-active">Text</a>
      <a id="codes-button">Codes</a>
      <div id="keywords-dropdown" class="dropdown">
        <button class="dropbtn">Keywords
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <div class="dropdown-content">
          <a id="train-keywords-button">Train Keywords</a>
          <a id="predict-keywords-button">Predict Keywords</a>
          <a id="all-keywords-button">All Keywords</a>
        </div>
      </div>
      <div id="cm-dropdown" class="dropdown">
        <button class="dropbtn">Confusion Tables
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <div id="cm-dropdown-content" class="dropdown-content">
          <!-- links dynamically added here -->
        </div>
      </div>
    </div>
    <!-- import page -->
    <div id="import-container">
      <h1 id="import-title">Thematic Analysis Coding Assistant</h1>
      <!-- import transcript docx -->
      <div id="import-transcript-container">
        <div class="import-content">
          <p id="import-transcript-label" class="import-label">Import your transcript:</p>
          <button id="import-transcript-button" class="btn btn-secondary">Import transcript</button>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item active">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">3</div>
              <div class="step-name">Additional info</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-transcript-next-button" class="btn btn-secondary next-button" disabled>Next</button>
      </div>
      <!-- select software used -->
      <div id="import-software-container">
        <div class="import-content">
          <p id="import-software-label" class="import-label">Which software did you use to code your transcript?</p>
          <div class="checkbox-group">
            <input id="import-word-checkbox" type="radio">
            <label id="import-word-checkbox-label" class="checkbox-inline" for="import-word-checkbox">Word</label>
          </div>
          <div class="checkbox-group">
            <input id="import-nvivo-checkbox" type="radio">
            <label id="import-nvivo-checkbox-label" class="checkbox-inline" for="import-nvivo-checkbox">NVivo</label>
          </div>
          <div class="checkbox-group">
            <input id="import-maxqda-checkbox" type="radio">
            <label id="import-maxqda-checkbox-label" class="checkbox-inline" for="import-maxqda-checkbox">MAXQDA</label>
          </div>
          <div class="checkbox-group">
            <input id="import-dedoose-checkbox" type="radio">
            <label id="import-dedoose-checkbox-label" class="checkbox-inline" for="import-dedoose-checkbox">Dedoose</label>
          </div>
          <!-- <div id="separator-container">
            <textarea id="separator-textarea" placeholder=""></textarea>
          </div> -->
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">3</div>
              <div class="step-name">Additional info</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-software-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-software-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- select word delimiter -->
      <div id="import-word-delimiter-container">
        <div class="import-content">
          <p id="import-word-delimiter-label" class="import-label">Which character was used as a delimiter in your comments?</p>
          <p class="import-sub-label">Some of your comments in Word might contain more than one code.</p>
          <p class="import-sub-label">Enter the character used to separate the codes below (e.g. , or ;)</p>
          <textarea id="delimiter-textarea" maxlength="1"></textarea>
          <div id="no-word-delimiter-checkbox-group">
            <input type="checkbox" id="no-word-delimiter-checkbox">
            <label for="no-word-delimiter-checkbox">I don't use delimiters (each comment contains only one code)</label>
          </div>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">3</div>
              <div class="step-name">Enter delimiter</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-word-delimiter-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-word-delimiter-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- select nvivo codes folder -->
      <div id="import-nvivo-codes-folder-container">
        <div class="import-content">
          <p id="import-nvivo-codes-folder-label" class="import-label">Select a folder containing only exported code documents:</p>
          <p class="import-sub-label">(Code documents must be docx files exported checking "Name" under "Properties" in NVivo)</p>
          <button id="import-nvivo-codes-folder-button" class="btn btn-secondary">Select folder</button>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">3</div>
              <div class="step-name">Select codes folder</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-nvivo-codes-folder-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-nvivo-codes-folder-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- import MAXQDA coded segments -->
      <div id="import-maxqda-document-container">
        <div class="import-content">
          <p id="import-maxqda-document-label" class="import-label">Import your Coded Segments:</p>
          <p class="import-sub-label">(Coded Segments must be a single docx file exported from MAXQDA)</p>
          <button id="import-maxqda-document-button" class="btn btn-secondary">Select document</button>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">3</div>
              <div class="step-name">Import coded segments</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-maxqda-document-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-maxqda-document-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- import dedoose excerpts -->
      <div id="import-dedoose-excerpts-container">
        <div class="import-content">
          <p id="import-dedoose-excerpts-label" class="import-label">Import your Excerpts:</p>
          <p class="import-sub-label">(Excerpts must be a single txt file exported from Dedoose)</p>
          <button id="import-dedoose-excerpts-button" class="btn btn-secondary">Select document</button>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">3</div>
              <div class="step-name">Import excerpts</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-dedoose-excerpts-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-dedoose-excerpts-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- code-theme table loading -->
      <div id="import-loading-code-theme-table-container">
        <div class="import-content">
          <img id="code-theme-table-loading-gif" src="../static/res/loading.gif">
          <p id="setup-label">Extracting codes...</p>
        </div>
      </div>
      <!-- edit code theme table -->
      <div id="import-edit-code-theme-table-container">
        <div class="import-content">
          <p id="import-edit-code-theme-table-label" class="import-label">Edit your code table</p>
          <p class="import-sub-label">A code table has been created in:</p>
          <p id="import-edit-code-theme-table-path"class="import-sub-label"></p>
          <p class="import-sub-label">Edit this table so each column header is the name of a theme, and the respective codes are listed below.</p>
          <p class="import-sub-label">For example:</p>
          <img id="code-theme-table-example-png" src="../static/res/code-table-example.png">
          <p id="only-theme-label" class="import-sub-label">If the table contains only themes, place these in the header and copy the header in the second row, resulting in two equal rows of themes.</p>
          <div id="edit-code-theme-table-checkbox-group">
            <input type="checkbox" id="edit-code-theme-table-checkbox">
            <label for="edit-code-theme-table-checkbox">I have edited and saved the code table</label>
          </div>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">3</div>
              <div class="step-name dynamic-stepper"></div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-edit-code-theme-table-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-edit-code-theme-table-next-button" class="next-button btn btn-secondary" disabled>Next</button>
      </div>
      <!-- enter filter keywords -->
      <div id="import-keywords-container">
        <div class="import-content">
          <p id="import-keywords-label" class="import-label">Enter ";"-separated keywords to ignore or a regular expression:</p>
          <!-- <p class="import-sub-label">(e.g. "Interviewer 1;Participant A;[unclear]" or "(^p[0-9]+.*$|\d\d:\d\d:\d\d|participant|interviewer \d)")</p> -->
          <textarea id="filter-textarea" placeholder="Interviewer 1;Participant A;[unclear];etc...&#10;&#10;OR&#10;&#10;(?i)(^p[0-9]+.*$|\d\d:\d\d:\d\d|participant|interviewer \d|^p\d_.*$)"></textarea>
          <div id="filter-checkbox-div">
            <input id="regexp-checkbox" type="checkbox">
            <label id="regexp-label" class="checkbox-inline" for="regexp-checkbox">Regular expression</label>
            <input id="case-insensitive-checkbox" type="checkbox">
            <label id="case-insensitive-label" class="checkbox-inline" for="case-insensitive-checkbox">Case insensitive</label>
          </div>
        </div>
        <div id="import-step-progress-bar">
          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">Import transcript</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">2</div>
              <div class="step-name">Select software</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">3</div>
              <div class="step-name dynamic-stepper"></div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter">4</div>
              <div class="step-name">Edit code table</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter">5</div>
              <div class="step-name">Enter keyword filter</div>
            </div>
          </div>
        </div>
        <button id="import-keywords-back-button" class="back-button btn btn-secondary">Back</button>
        <button id="import-keywords-next-button" class="next-button btn btn-secondary">Done</button>
      </div>

    </div>
    <!--  -->
    <div id="setup-container">
      <img id="loading-gif" src="../static/res/loading.gif">
      <p id="setup-label">Extracting and classifying sentences...</p>
      <p class="import-sub-label">(This may take a few minutes)</p>
    </div>
    <div id="text-container">
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="codes-table-container" class="table-container">
      <h1 id="table-title">Codes</h1>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="all-table-container" class="table-container">
      <button id="re-classify-button" class="btn btn-secondary" type="button" disabled>Re-classify</button>
      <h1 id="table-title">All Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="predict-table-container" class="table-container">
      <button id="re-classify-button" class="btn btn-secondary" type="button" disabled>Re-classify</button>
      <h1 id="table-title">Predict Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="train-table-container" class="table-container">
      <button id="re-classify-button" class="btn btn-secondary" type="button" disabled>Re-classify</button>
      <h1 id="table-title">Train Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="confusion-tables-container">
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
  </body>
</html>