<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/lib/qwebchannel.js"></script>
    <script type="text/javascript" src="../static/js/lib/d3.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/import.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/text.js"></script>
    <script type="text/javascript" src="../static/js/codes.js"></script>
    <script type="text/javascript" src="../static/js/all_table.js"></script>
    <script type="text/javascript" src="../static/js/predict_table.js"></script>
    <script type="text/javascript" src="../static/js/train_table.js"></script>
    <script type="text/javascript" src="../static/js/confusion_tables.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/res/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/res/style.css"/>
    <title>Thematic Analysis Tool</title>
  </head>
  <body>
    <div class="navbar-top">
      <a id="text-button" class="btn-active">Text</a>
      <a id="codes-button">Codes</a>
      <div class="dropdown">
        <button class="dropbtn">Keywords
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <div class="dropdown-content">
          <a id="train-keywords-button">Train Keywords</a>
          <a id="predict-keywords-button">Predict Keywords</a>
          <a id="all-keywords-button">All Keywords</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Confusion Tables
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <!-- hard-coded -->
        <div class="dropdown-content">
          <a id="practices-cm-button">Practices</a>
          <a id="social-cm-button">Social</a>
          <a id="study-vs-product-cm-button">Study vs Product</a>
          <a id="system-perception-cm-button">System Perception</a>
          <a id="system-use-cm-button">System Use</a>
          <a id="value-judgements-cm-button">Value Judgements</a>
        </div>
      </div>
    </div>
    <!-- import page -->
    <div id="import-container">
      <h1 id="import-title">Thematic Analysis Coding Assistant</h1>
      <div id="import-row" class="row">
        <div id="transcript-col" class="col">
          <div id="transcript-inner">
            <p class="import-label">Import your transcript:</p>
            <input id="transcript-chooser" type="file" class="chooser" accept=".docx">
            <input id="transcript-checkbox" type="checkbox">
            <label id="transcript-checkbox-label" class="checkbox-inline" for="transcript-checkbox">Document contains codes</label>
          </div>
        </div>
        <div id="codes-col" class="col">
          <div id="codes-inner">
            <p id="codes-label" class="import-label">Select codes folder:</p>
            <input id="codes-chooser" type="file" class="chooser" webkitdirectory directory multiple>
            <input id="codes-checkbox" type="checkbox">
            <label id="codes-checkbox-label" class="checkbox-inline" for="codes-checkbox">Codes are hierarchical</label>
          </div>
        </div>
        <div id="theme-code-col" class="col">
          <div id="theme-code-inner">
            <p id="theme-code-label" class="import-label">Import theme-code table:</p>
            <input id="theme-code-chooser" type="file" class="chooser" accept=".csv">
          </div>
        </div>
      </div>
      <div id="filter-row" class="row">
        <div id="filter-inner" class="inner-filter-container">
          <p class="import-label">Enter comma-separated keywords to ignore:</p>
          <textarea id="filter-textarea" placeholder="Interviewer 1,Participant A,[unclear],etc..."></textarea>
        </div>
      </div>
      <button id="finish-import-button">Done</button>
    </div>
    <!--  -->
    <div id="text-container">
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="codes-table-container" class="table-container">
      <h1 id="table-title">Codes</h1>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="all-table-container" class="table-container">
      <button id="re-classify-button" type="button" disabled>Re-classify</button>
      <h1 id="table-title">Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="predict-table-container" class="table-container">
      <button id="re-classify-button" type="button" disabled>Re-classify</button>
      <h1 id="table-title">Predict Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="train-table-container" class="table-container">
      <button id="re-classify-button" type="button" disabled>Re-classify</button>
      <h1 id="table-title">Train Keywords</h1>
      <div id="bin-div">
        <h1 id="bin-title">Bin</h1>
        <p>Drag here to remove theme</p>
      </div>
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
    <div id="confusion-tables-container">
      <img id="loading-gif" src="../static/res/loading.gif">
    </div>
  </body>
</html>