<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="../static/js/lib/d3.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/res/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/res/style.css"/>
  </head>
  <body>
    <div class="navbar-top">
      <a id="text-button" class="btn-active">Text</a>
      <div class="dropdown">
        <button class="dropbtn">Keywords
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <div class="dropdown-content">
          <a id="train-keywords-button">Train Keywords</a>
          <a id="predict-keywords-button">Predict Keywords</a>
          <a id="all-keywords-button">All Keywords</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Confusion Tables
          <img src="../static/res/caret-down-fill.svg", height=12px, width=12px/>
        </button>
        <div class="dropdown-content">
          <a id="practices-cm-button">Practices</a>
          <a id="social-cm-button">Social</a>
          <a id="study-vs-product-cm-button">Study vs Product</a>
          <a id="system-perception-cm-button">System Perception</a>
          <a id="system-use-cm-button">System Use</a>
          <a id="value-judgements-cm-button">Value Judgements</a>
        </div>
      </div>
    </div>
    <img id="loading-gif" src="../static/res/loading.gif">
    <script src="../static/js/text.js"></script>
  </body>
</html>
